$light-yellow: #c9bc5e;
$sandy-white: #fffdef;

body, html, h1 {
  margin: 0;
}

body {
  background: white;
}

.section-subtitle {
  background: $sandy-white;
  text-align: center;
  h1 {
    color: $light-yellow;
  }
  text-align: center;
}
h1 { 
  font-size: 1.5em;
}

/* .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
} */

.section-welcome {
  background: $sandy-white;
  text-align: center;
  padding: 50px 0 50px 0;
  color: $light-yellow;
  width: auto;
}

.section-header {
  background-image: url(/assets/images/lukasz-szmigiel-jFCViYFYcus-unsplash.jpg);
  height: 15vh;
  background-position: top; 
  background-repeat: no-repeat; 
  background-size: cover; 
  width: auto;
}

.section-pathway {
  background-image: url(/assets/images/clay-banks-yoqfCYkeJHw-unsplash.jpg);
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; 
  height: 600px;
  border-top: 4px solid gold;
  border-bottom: 4px solid gold;
  width: auto;
}

.section-green {
  background-color: #757d65;
  color: white;
  text-align: center;
  width: auto;
  vertical-align: middle;
  padding: 50px 0 50px 0;
}

.footer {
  background-color: #757d65;
  color: white;
  padding: 50px;
  text-align: center;
  a {
    color: white;
  }
}

blockquote {
  font-size: 20px;
  line-height: 1.25;
  padding: 0;
  text-align: center;
  font-style: italic;
  text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.3);
}

.text {
  display: flex;
  justify-content: center;
  color: white;
  width: 50%;
}

@media only screen and (min-width: 1024px) {
  body {
    width: 70%;
    margin: 0 auto;
    border-left: 1px solid black;
    border-right: 1px solid black;
  }
}

@media only screen and (min-width: 1920px) {
  body {
    width: 50%;
  }
}

@media only screen and (min-width: 2560px) {
  body {
    width: 40%;
  }
}

