body, html, h1 {
  margin: 0;
}

.overlay {
  position: absolute;
  top: 20%;
  left: 35%;
} 

.welcome-text {
  height: 15vh;
  background:  rgb(248, 232, 82);
  padding: 30px;
}

.section {
  background-image: url(/assets/images/lukasz-szmigiel-jFCViYFYcus-unsplash.jpg);
  background-color: #cccccc;
  height: 80vh;
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; 
  width: 100vw;
  h1 { 
    font-size: 4em;
    padding: 50px 0 0 50px;
    color: white; 
  }
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  blockquote, h1 {
    margin: 50% auto;
  }
}

.container > div {
  background: RGBA(0,0,0,0.50);
  border: 2px solid rgb(248, 232, 82);
  color: white;
  height: 300px;
  width: 300px;
  text-align: center;
  margin: 20px;
  h1 { 
    margin: 40% auto;
    font-size: 4em; }
}

/* @media only screen and (max-width: 600px) {
} */
