
html {
  background: url(/assets/images/lukasz-szmigiel-jFCViYFYcus-unsplash.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
}

html, body, ul {
  margin: 0;
  padding: 0;
}

a {
  color: white;
}

body {
  font-family: 'Dancing', sans-serif;
  height: 100%;
  color: white;
  p {
    font-size: 1rem;
  }
}

blockquote {
  font-style: italic;
  text-align: center;
  p { font-size: 2em; }
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  color: white;
  font-size: 18rem;
}

.main-navigation {
  background: white;
  font-weight: 700;
  position: relative;
  height: 50px;
  width: 100%;
  color: black;
  a {
    color: black;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }

  li {
    display: inline-block;
    list-style: none;
    padding: 1rem;
  }
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 7rem;
  }

  blockquote {
    p { font-size: 2em; }
  }
}
