<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>Hike. - Hello World</title>
    <link rel="stylesheet" href="/assets/css/main.css">
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous">
    </script>
  </head>
  <body>
    {% include nav.html %}
    <div class="container">
      <h1>Hike.</h1>
    </div>
      {{ content }}
  </body>
</html>
